# Cấu hình kết nối Cơ sở dữ liệu PostgreSQL
# Thay đổi DB_USER, DB_PASSWORD, HOST, PORT, và DB_NAME cho phù hợp với local của bạn
DATABASE_URL=postgresql://DB_USER:DB_PASSWORD@localhost:5432/DB_NAME

# Khóa bí mật dùng để mã hóa (ví dụ: tạo JWT, session ký cookie...)
# Có thể dùng lệnh python: "import secrets; print(secrets.token_hex(16))" để tạo ngẫu nhiên một chuỗi
SECRET_KEY=YOUR_SECRET_KEY_HERE


JWT_SECRET_KEY=

GEMINI_API_KEY=

MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=YOUR-EMAIL-HERE
MAIL_PASSWORD=YOUR-PASS-WORD-HERE
